/*****  HEADER  *****/
.header-blue {
  background:linear-gradient(135deg, #0c316e, #7fcdf3);
  background-color:#2162a3;
  padding-bottom:120px;
  font-family:'Source Sans Pro', sans-serif;
}

@media (max-width:767px) {
  .header-blue {
    padding-bottom:80px;
  }
}

.header-blue .navbar {
  background:transparent;
  padding-top:12px;
  padding-bottom:10px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:767px) {
  .header-blue .navbar {
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-right {
    margin-bottom:20px;
  }
}

.header-blue .navbar .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover {
  color:#f0f0f0;
}

.header-blue .navbar .navbar-collapse p {
  margin-top:10px;
  margin-bottom:0;
}

.header-blue .navbar .navbar-collapse p .login {
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse p .login:hover {
  color:#fff;
}

.header-blue .navbar .navbar-toggle {
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggle:hover, .header-blue .navbar-toggle:focus {
  background:none;
}

.header-blue .navbar .navbar-toggle .icon-bar {
  background-color:#eee;
}

.header-blue .navbar .navbar-collapse, .header-blue .navbar .navbar-form {
  border-color:rgba(255,255,255,0.3);
}

.header-blue .action-button, .header-blue .action-button:active {
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover {
    color:#2e6da4;
    background-color: white;
}

.header-blue .action-button.btn-lg {
    font-size: 17px;
}

.header-blue .hero {
  margin-top:60px;
}

.hero p {
    padding: 0px 10%;
    font-family: 'Lato', sans-serif;
}

@media (max-width:767px) {
  .header-blue .hero {
    margin-top:20px;
    text-align:center;
  }
}

.header-blue .hero h1 {
  color:#fff;
  font-size:40px;
  /*margin-top:190px;*/
  margin-bottom:24px;
  font-weight:300;
}

@media (max-width:991px) {
  .header-blue .hero h1 {
    margin-top:0;
    margin-bottom:15px;
    line-height:1.4;
  }
}

.header-blue .hero p {
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

/*****  FOOTER  *****/
.footer-basic {
  padding: 20px;
}

.footer-basic .copyright {
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


/****   LANDING CONTENT     ****/
#main-content {
    font-family: 'Lato', sans-serif;
}
#main-content .row {
    margin-top: 40px;
}

#main-content h2 {
    font-size: 40px;
}

#main-content h3 {
    font-weight: 100;
    line-height: 33px;
}

#main-content ul {
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
}

#main-content .fa-ul {
    margin-left: 55px;
}

#main-content .fa-li {
    font-size: 25px;
}

/****   SIGNUP MODAL    ****/
#loginModal {
    top: 130px;
}

#loginModal .modal-content {
    width: 350px;
    left: 130px;
    font-family: 'Source Sans Pro', sans-serif;
}

#loginModal .modal-body {
   padding-bottom: 2px; 
}

#loginModal .modal-header {
    text-align: center;
}

#loginModal .form-group {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
}

#loginModal #form-verifier {
    width: 229px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#loginModal .modal-footer {
    text-align: center;
}

/****   REGISTER MODAL    ****/
#signupModal .modal-content {
    font-family: 'Source Sans Pro', sans-serif;
    width: 650px;
    top: 50px;
}

#signupModal .modal-header {
    text-align: center;
}

#signupModal .xl {
    width: 275px;
}

#signupModal .lr {
    width: 200px;
}

#signupModal .ml {
    width: 192px;
}

#signupModal .md {
    width: 175px;
}

#signupModal .sm {
    width: 150px;
}

#signupModal .xs {
    width: 75px;
}

#signupModal .modal-footer {
    text-align: center;
}

#signupModal .form-row {
    display: flex;
    justify-content: space-around;
}

#signupModal #form-verifier {
    width: 229px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/****   HELPERS   ****/
.text-center {
    text-align: center;
}

.m-l-10 {
    margin-left: 10px;
}

f-r {
    float: right;
}